* SPDX-License-Identifier: Apache-2.0
*/

/ {
aliases {
    icm20948-sensor = &icm20948;
};

/*
 * Copyright (c) 2019 Nordic Semiconductor ASA
 *
 * SPDX-License-Identifier: Apache-2.0
 */

&i2c0 {
	icm20948@68 {
		compatible = "invensense,icm20948";
		reg = <0x68>;
		status = "okay";
		int-gpios = <&gpiopa0 11 GPIO_ACTIVE_HIGH>;
	};
};