/ {
    aliases {
        board-i2c = &i2c0;
    };
};

&spi3 {
    status = "okay";


    sdhc0: sdhc@0 {
        compatible = "zephyr,sdhc-spi-slot";
        reg = <0>;
        status = "okay";
        spi-max-frequency = <700000>;
        mmc {
             compatible = "zephyr,sdmmc-disk";
             status = "okay";
        };
    };
};